@import url('/css/style.css');

/*************** HEADER ***************/
.header {
    text-align: center;
    padding: 3rem;
}

.header-title {
    max-width: 500px;
    font-size: 4.5rem;
    font-family: var(--head-font);
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2rem auto 0;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--primary-font);
    width: 54ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: var(--body-font2);
    font-weight: bold;
    font-size: 18px;
}

@keyframes typing {
    from {
      width: 0
    }
}
      
@keyframes blink {
    50% {
      border-color: transparent
    }
}

.text-alternate {
    display: none;
    color: var(--primary-font);
    font-family: var(--body-font2);
    font-size: 16px;
    margin-top: 1rem;
}


/*************** IMAGE ***************/
.home-image {
    padding: 2rem;
}

.home-image img {
    max-width: 500px;
    max-height: 500px;
}


/*************** CONTENT ***************/
.div-content {
    padding: 0 1.5rem;
}
.contents {
    display: block;
    background-color: var(--gray-one);
    color: var(--primary-font);
    max-width: 850px;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem auto 9rem auto;
}

.content-text {
    max-width: 550px;
    font-family: var(--body-font2);
    font-size: 18px;
    text-align: justify;
    display: block;
    margin: auto;
}

.content-text span {
    color: var(--primary-color);
    font-weight: bold;
}


/*************** WORK DISPLAY ***************/
.my-work {
    margin-bottom: 7rem;
}

.display-head {
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--head-font);
    font-size: 33px;
    max-width: fit-content;
    margin: 2rem auto 0.5rem auto;
}

.div-home-cards {
    display: flex;
    justify-content: center;
}

.home-cards {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-one);
    color: var(--primary-font);
    width: 270px;
    height: 160px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-radius: 1.3rem;
    margin: 1rem 1rem 2rem 1rem;
}

.blogs .home-cards {
    width: 300px;
}

.home-cards h2 {
    color: var(--primary-color);
    font-family: var(--body-font);
    font-size: 22px;
    letter-spacing: 0.7px;
    padding-bottom: 1rem;
}

.home-cards p {
    font-family: var(--body-font2);
    font-size: 16px;
    text-align: justify;
}

.home-cards .link {
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 13px;
    padding: 0.2rem 0.7rem;
    min-width: 80px;
    border: 1.5px solid var(--primary-color);
    border-radius: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.link-view-all {
    background-color: var(--primary-color);
    color: var(--back-color);
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    border: 2px solid var(--primary-color);
    border-radius: 3rem;
    transition: 1s ease-in-out;
}

.link-view-all:hover {
    background-color: var(--back-color);
    color: var(--primary-color);
}


/*************** DIVIDER ***************/
.divider-home {
    max-width: 15%;
    margin: 3rem auto 4rem;
}


/*************** MEDIA QUERIES ***************/
@media screen and (max-width: 650px) {
    .header-title {
        font-size: 45px;
    }

    .text {
        display: none;
    }

    .text-alternate {
        display: block;
    }

    .home-image img {
        max-width: 80%;
    }
}

@media screen and (max-width: 1000px) {
    .div-home-cards {
        flex-direction: column;
        padding: 1.5rem;
        align-items: center;
    }

    .home-cards {
        min-width: 70%;
    }


}


