@import url('/css/style.css');

/*************** NAV BAR ***************/
.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    max-width: 80%;
    padding: 0.8rem 3rem;
    margin: auto;
    border: 3px solid black;
    border-radius: 5rem;
    box-shadow: -7px -3px 20px rgb(200 200 200 / 7%), 
        inset -7px -7px 15px rgb(200 200 200 / 7%), 
        15px 12px 12px rgb(0 0 0 / 90%), 
        inset 17px 17px 17px rgb(0 0 0 / 70%);
}

.nav-brand {
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1.3rem;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-pills {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.nav-pills .link:hover {
  color: var(--primary-color);
}

.nav-pills .link-active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 1.5px solid var(--primary-color);
}