/* Heder font */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Body font - 2 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/** Creating variable **/
:root {
    /* colors */
    --primary-color: #FFC4FF;
    --primary-font: #aaa;
    --yellow: #edca85;
    --blue: #a0e9ff;
    --purple: #a162e8;
    --pink: #f093b0;
    --back-color: #111;
    --gray-one: #222;
    --gray-two: #333;
    --gray-three: #444;
    --gradient: linear-gradient(271deg, #a0e9ff 10%,
    #a162e8 50%, #f093b0 70%, #edca85 94%);

    /* fonts */
    --head-font: 'Shippori Mincho', serif;
    --body-font: 'Montserrat', sans-serif;
    /* --body-font2: 'Inconsolata', monospace; */
    --body-font2: monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--back-color);
    color: white;
    overflow: hidden;
}


/*************** LIST ***************/
.list-non-bullet {
    list-style: none;
}

/*************** LINKS ***************/
.link {
    color: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
}