/* Heder font */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Body font - 2 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/** Creating variable **/
:root {
    /* colors */
    --primary-color: #FFC4FF;
    --primary-color2: #FFC4FF;
    --primary-font: rgb(205, 205, 205);
    --yellow: #edca85;
    --blue: #a0e9ff;
    --purple: #a162e8;
    --pink: #f093b0;
    --back-color: #111;
    --gray-one: #141414;
    --gray-two: #333;
    --gray-three: #555;
    --gradient: linear-gradient(271deg, #a0e9ff 10%,
    #a162e8 50%, #f093b0 70%, #edca85 94%);

    /* fonts */
    --head-font: 'Shippori Mincho', serif;
    --body-font: 'Montserrat', sans-serif;
    /* --body-font2: 'Inconsolata', monospace; */
    --body-font2: monospace;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--back-color);
    color: white;
    font-family: var(--body-font);
    text-align: center;
    overflow-x: hidden;
}


/*************** LIST ***************/
.list-non-bullet {
    list-style: none;
}

/*************** LINKS ***************/
.link {
    color: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
}

.primary-link {
    color: var(--gray-one);
    background-color: var(--primary-color);
    transition: 0.7s ease;
}

.primary-link:hover {
    background-color: var(--gray-one);
    color: var(--primary-color);
}

.secondary-link {
    background-color: var(--gray-one);
    color: var(--primary-color);
    transition: 0.7s ease;
}

.secondary-link:hover {
    color: var(--gray-one);
    background-color: var(--primary-color);
}


/*************** DIVIDER ***************/
.divider {
    position: relative;
    border: 0;
    border-radius: 3px;
    height: 1px;
    background-image: var(--gradient);
}