/* Heder font */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;700&display=swap');

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Body font - 2 */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

/** Creating variable **/
:root {
    /* colors */
    --primary-color: #FFC4FF;
    --primary-font: #aaa;
    --yellow: #edca85;
    --blue: #a0e9ff;
    --purple: #a162e8;
    --pink: #f093b0;
    --back-color: #111;
    --gray-one: #222;
    --gray-two: #333;
    --gray-three: #444;
    --gradient: linear-gradient(271deg, #a0e9ff 10%,
    #a162e8 50%, #f093b0 70%, #edca85 94%);

    /* fonts */
    --head-font: 'Shippori Mincho', serif;
    --body-font: 'Montserrat', sans-serif;
    /* --body-font2: 'Inconsolata', monospace; */
    --body-font2: monospace;;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--back-color);
    color: white;
    overflow: hidden;
}


/*************** NAV BAR ***************/
.navigation {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--back-color);
    padding: 0.8rem 3rem;
    margin: 1.2rem 0.7rem 5rem 0.7rem;
    border: 3px solid black;
    border-radius: 5rem;
    box-shadow: -7px -3px 20px rgb(200 200 200 / 7%), 
        inset -7px -7px 15px rgb(200 200 200 / 7%), 
        15px 12px 12px rgb(0 0 0 / 90%), 
        inset 17px 17px 17px rgb(0 0 0 / 70%);
}

.nav-brand {
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1.3rem;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-pills {
    display: flex;
    justify-content: space-between;
    width: 260px;
}

.nav-pills .link {
    position: relative;
    display: block;
    color: var(--primary-font);
    font-size: 15px;
    letter-spacing: 0.7px;
    padding: 3px;
}

.nav-pills .link::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.7s;
  }

  .nav-pills .link:hover {
    color: var(--primary-color);
  }

  .nav-pills .link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

.nav-pills .link-active {
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 1.5px solid var(--primary-color);
}


/*************** HEADER ***************/
.header {
    position: relative;
    text-align: center;
    padding: 3rem;
}

.header-title {
    max-width: 500px;
    font-size: 4.5rem;
    font-family: var(--head-font);
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
}

.header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: var(--gray-three);
    /* background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    width: 54ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: var(--body-font2);
    font-weight: bold;
    font-size: 18px;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }


/*************** CONTENT ***************/
.contents {
    position: relative;
    display: block;
    background-color: #141414;
    color: var(--primary-font);
    max-width: 850px;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem auto;
}

.content-text {
    max-width: 500px;
    font-family: var(--body-font2);
    font-size: 16px;
    text-align: justify;
    display: block;
    margin: auto;
}

.content-text span {
    color: var(--primary-color);
    font-weight: bold;
}


/*************** FOOTER ***************/
.footer {
    position: relative;
    background-color: var(--back-color);
    border-top: 3px solid black;
    border-top-right-radius: 6rem;
    border-top-left-radius: 6rem;
    padding: 2rem 2rem;
    text-align: center;
    box-shadow: -7px -3px 20px rgb(200 200 200 / 7%), 
        inset -7px -7px 15px rgb(200 200 200 / 7%), 
        15px 12px 12px rgb(0 0 0 / 90%), 
        inset 17px 17px 17px rgb(0 0 0 / 70%);
}

.footer-head {
    max-width: 250px;
    margin: auto;
    font-weight: bold;
    color: white;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-links {
    display: flex;
    max-width: 270px;
    justify-content: space-between;
    padding-top: 1rem;
    margin: auto;

}

.footer .link:hover {
    font-weight: bold;
    color: var(--purple);
    /* color: white;
    background-image: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
} 

/*************** LIST ***************/
.list-non-bullet {
    list-style: none;
}

/*************** LINKS ***************/
.link {
    color: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
}